/* loading */
.loading {
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--white);
}
.loading-icon {
   font-size: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   cursor: pointer;
   color: var(--white);
   animation: spiner 2s linear infinite;
   color: #000;
}
@keyframes spiner {
   from {
      transform: rotate(0);
   }
   to {
      transform: rotate(380deg);
   }
}
